body {
    margin: 0 auto;
    font-size: 20px; 
  
  }


/* Nav Bar*/
nav {
    background-color: black;
    height: 100px;
    display: flex;
    
    justify-content: space-between;
 display: flex;
 align-items: center;
 padding-right: 40px;
 
 
  

  }

  .logo {
    width: 180px;
    align-items: left;
    display: flex;
    padding-left: 20px;
    }
    

  .nav-links {
    display: flex;
    gap: 30px; 
    font-size: 19px;
  }


  nav a { 
    color: #ffffff; 
    text-decoration: none; 
    cursor: pointer; 

   
    

  }
  
  nav a:hover {  
    text-decoration: underline;
   
  }

/*Grid 1*/

.intro-container {
    background-image: url("images/backbird2.jpg");
    height: 635px; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}



h1 {
    margin: 0;
    font-size: 75px;
    color: black;
}


.welcome-text {
    text-align: left;  
    font-size: 19px;
    width: 38%;
    padding: 30px;
    color: black;
}

.text1 {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 20px;
 
}

.grid-item1{ 
    display: flex;
    align-items: center;
}




button {
width: 130px;
height: 50px;
background-color: black;
color: white;
font-size: 16px;
border: none;
cursor: pointer;


}
/* Grid 2*/

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
}


.tips-text, .gear-text {
    font-size: 18px;
    text-align: left;  
    width: 60%;
    
}

/* Hamburger */

.hamburger {
    display: none;
}



  @media screen and (max-width: 600px) {
/*menu*/
    .nav-links {
      display: none;
    }

    .nav-links.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        top: 100px;
        right: 0px;
        text-align: center;
        background-color: rgba(0,0,0,0.95);
        height: 650px;
        width: 100%;
        margin: 0;
      font-size: 18px;
        align-items: center;
        justify-content: center;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        color: #ffffff;
        font-size: 35px;
    }

.hamburger.active {
font-size: 25px;

}


    .intro-container {
        background-image: url("images/backbird.3.jpg"); /* Replace with your image path */
        background-size: cover;
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin: 0;
        
    }

    .welcome-text {
       width: initial;
    }

    .grid-container {
      display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 0;
        
    }
    .tips-text {
      width: 80%;
    }
    .gear-text{
      width: 80%;

    }
}
@media only screen and (min-width: 1800px) {
  /* CSS styles for screens larger than 1200px */
  .intro-container {
    background-image: url("images/backbird2.jpg");
    height: 1145px; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  align-items: left;
  display: flex;
  padding-left: 20px;
  }
  

.nav-links {
  display: flex;
  gap: 30px; 
  font-size: 22px;
}

h1 {
  margin: 0;
  font-size: 100px;
  color: black;
}

h2 {
  font-size: 50px;

}

.text1 .text2 {
  font-size: 35px;

}
.welcome-text {
  text-align: left;  
  font-size: 35px;
  width: 38%;
  padding: 30px;
  color: black;
}


}