body {
    margin: 0 auto;
    font-size: 20px; 
  
  }


/* Nav Bar*/
nav {
    background-color: black;
    height: 100px;
    display: flex;
    
    justify-content: space-between;
 display: flex;
 align-items: center;
 padding-right: 40px;
 
 
  

  }

  .logo {
    width: 180px;
    align-items: left;
    display: flex;
    padding-left: 20px;
    }
    

  .nav-links {
    display: flex;
    gap: 30px; 
    font-size: 19px;
  }


  nav a { 
    color: #ffffff; 
    text-decoration: none; 
    cursor: pointer; 

   
    

  }
  
  nav a:hover {  
    text-decoration: underline;
   
  }

/*Grid 1*/

.grid-container {
    background-image: url("images/backbird2.jpg");
    height: 635px; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}



h1 {
    margin: 0;
    font-size: 75px;
    color: black;
}


.welcome-text {
    text-align: left;  
    font-size: 19px;
    width: 38%;
    padding: 30px;
    color: black;
}

.text1 {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 20px;
 
}

.grid-item1{ 
    display: flex;
    align-items: center;
}




button {
    width: 130px;
    height: 50px;
    background-color: black;
color: white;
font-size: 16px;
border: none;


}
/* Grid 2*/

.grid-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
}


.tips-text, .gear-text {
    font-size: 18px;
    text-align: left;  
    width: 60%;
    
}

/* MENNU */

.hamburger {
    display: none;
}



  @media screen and (max-width: 600px) {
/*menu*/
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .grid-container {
        background-image: url("images/backbird.3.jpg"); /* Replace with your image path */
        background-size: cover;
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin: 0;
        
    }

    .welcome-text {
       width: initial;
    }
}