/* General setup */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
   
  }
  
  /* Layout */
  
  section {
    
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  aside {
    
    width: 30%;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  nav {
    float: left;
    align-items: center;
    display: flex;
    gap: 36px;
    
  }
  nav a {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(252, 245, 230);
    font-size: 18px;
    text-decoration: none; /* This will remove the underline */
    cursor: pointer;
  }

  nav a:hover {  
    text-decoration: underline; /* This will add the underline on hover */
   

  }

  footer {
    clear: both;
  }
  
   aside, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid rgb(106, 25, 25);
    border-bottom: 5px solid rgb(106, 25, 25);
    background-color: rgb(106, 25, 25);
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h1 {
    font-family: 'Cinzel Decorative', serif;
    color: rgb(252, 245, 230);
}

h1 .sub-heading {
    display: block; /* Makes the span behave like a block element, putting it on a new line */
    font-size: 0.5em; /* Adjusts the size of the font; 0.5em makes it half the size of the surrounding text */
    font-family: 'Scope One', serif; /*  You can change the font for the sub-heading if you want */
    

}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.brave-text
{
  background-image: url("campus.jpg");
}