/* General setup */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    font-size: 20px;
   
  }
  
  /* Layout */
  
  section {
    
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  
  nav {
    float: left;
    align-items: center;
    display: flex;
    gap: 36px;
    
  }
  nav a {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(252, 245, 230);
    font-size: 18px;
    text-decoration: none; /* This will remove the underline */
    cursor: pointer;
  }

  nav a:hover {  
    text-decoration: underline; /* This will add the underline on hover */
   

  }

  footer {
    clear: both;
  }
  
   aside, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid rgb(106, 25, 25);
    border-bottom: 5px solid rgb(106, 25, 25);
    background-color: rgb(106, 25, 25);
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h1 {
    font-family: 'Cinzel Decorative', serif;
    color: rgb(252, 245, 230);
}

h1 .sub-heading {
    display: block; /* Makes the span behave like a block element, putting it on a new line */
    font-size: 0.5em; /* Adjusts the size of the font; 0.5em makes it half the size of the surrounding text */
    font-family: 'Scope One', serif; /*  You can change the font for the sub-heading if you want */
    

}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.brave-text
{
  background-image: url("images/campus.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  

}
h2 {
  margin: 0;
  font-size: 40px;
  padding-bottom: 12px;
}
.brave-text2 {
  width: 850px;
  position: absolute;
  top: 0;
  padding-top: 250px;
  color: rgb(252, 245, 230);
  text-align: left;
  font-size: 20px;
  padding-left: 45px;
  text-shadow: 0 0 10px black;
}

.brave-text2 a {

  color: rgb(252, 245, 230);
  
}

.gradient-background 
{
  position:absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, black, transparent)
  
  }
  
p { margin: 0;

}
.link-image {
  width: 14px;
  height: 14px;
}

.best-text {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; /* adjust this after*/
  width: 50%;
  font-size: 20px;
  margin: 0 auto;
}

.life {
  color: rgb(138, 30, 30);
}
.list-button {
  background-color: white; /* Default background color */
  color: black; /* Text color */
  border: 1px solid #8A1E1E; /* Border around the buttons */
  padding: 10px 20px; /* Padding inside the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from text */
  cursor: pointer; /* Change mouse cursor on hover */
  margin: 4px 4px; /* Spacing between buttons */
  transition: background-color 0.3s; /* Smooth transition for the hover effect */
  font-size: 20px;
  
}

/* Hover effect */
.list-button:hover {
  background-color: #8A1E1E; /* Change background color on hover */
  color: #FCF5E6;
}

/* Optionally, you can remove the default button styling */
.list-button:focus {
  outline: none;
}

.button-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 10px; /* Adjust the gap between buttons as needed */
  width: 520px;
  height: 180px;
  margin: 0 auto;
  
}

.gradient-background2 {

  position:absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, black, transparent)
}
.courses-text{
    
  font-family: 'Nunito Sans', sans-serif;
    background-image: url("images/original.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 685px;
    position:relative;

  }

  .courses-text2{
      position: relative;
      top: 0;
      padding-top: 155px;
      padding-right: 45px;
      color: rgb(252, 245, 230);
      text-align: right;
      font-size: 20px;
      text-shadow: 0 0 10px black;
      margin: 0 auto;
     
    }
    .courses-text2 a {

      color: rgb(252, 245, 230);

    }

    ul 
{
  list-style: none;
  margin: 0;
}