body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}



/*NAV BAR!*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;


}

.logo img {
    max-width: 130px;
    padding-top: 20px;
    height: auto;
    align-items: left;
    display: flex;
    padding-left: 60px;

}


.nav-links {
    font-family: 'Kalnia', serif;
    justify-content: space-between;
    display: flex;
    gap: 30px;

}
nav a:hover {
    text-decoration: underline;
  
  }
nav a {
    color: #01162a;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;



}


.header-content {
    width: 100%;


}


/*WELCOME TEXT*/

h1 {
    font-family: 'Kalnia', serif;
    color: #01162a;
    font-size: 45px;
}


.welcome-text {
    color: rgb(23, 23, 23);
    text-align: center;
    font-size: 18px;
    width: 50%;
    padding-top: 100px;


}

/*SLIDER*/

.container {
    padding: 20px;
}

.slider-wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* This makes the image start and  stop before starting another one*/
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 70%;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
}

/*Gear Text */

h1 {
    font-family: 'Kalnia', serif;
    color: #01162a;
    font-size: 45px;
}

h2 {
    font-family: 'Kalnia', serif;
    color: #01162a;
    font-size: 35px;
    text-align: left;


}


.grid-text {
    color: rgb(23, 23, 23);
    text-align: left;
    font-size: 17px;

}

.grid-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.item-1,
.item-2 {
    width: 47%;

}

.ul {
    padding: 0;
    padding-left: 18px;
}

footer {
    background-color: #80b2c9;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.footer-items {
   text-align: left;
   color: #01162a;
   text-decoration: none;
}

.footer-items a:hover {
    text-decoration: underline;
  
  }

.p-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.p-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}
a.p-footer {
    color: black;
    text-decoration: none;
}

a.p-footer:hover {
    text-decoration: underline;
}


/*Search Bar*/
.search-container {
    text-align: center;
    display: flex;
    
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 0.2rem;
}

.search-container button {
    float: left;
    width: 50%;
    border-radius: 0.2rem;
    padding: 10px;
    background: #041c32;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    padding-top: 10px;
    margin-left: 5px;
}

.search-container button:hover {
    background: #0b7dda;
}

.search-container::after {
    content: "";
    clear: both;
    display: table;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 240px;
    font-size: 16px;
}

.newsletter {
    padding-bottom: 10px;
    margin: 0;
}
.item-4 {
    padding-bottom: 56px;
}

.button {
    padding-top: 10px;
}

.grid-text,
.ul {
    font-size: 18px;
}