/* General Styles */
body {
    color: #fff;
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
}

/* Choice Container */
.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    background: rgb(18, 93, 255);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.choice-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0.4rem 1.4rem rgba(6, 103, 247, 0.5);
}

.choice-prefix {
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

.choice-text {
    padding: 0.5rem 1.5rem;
    flex: 1;
    color: #fff;
    font-size: 3rem;
}

/* Correct and Incorrect Styles */
.choice-container.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36, 1) 0%, rgba(41, 232, 111, 1) 100%);
}

.choice-container.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

/* Progress Bar */
#hud {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.hud-prefix {
    font-size: 1.5rem;
    text-align: center;
}

.hud-main-text {
    font-size: 1.8rem;
    text-align: center;
}

#progressBar {
    width: 100%;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;
}

#progressBarFull {
    height: 100%;
    width: 0;
    background: rgb(11, 223, 36);
    transition: width 0.3s ease-in-out;
}