body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

.container {
max-width: 900px;
margin: 20px auto;
padding: 20px;
background-color: #d6f0d6;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container2 {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #aedff6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .container3 {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f7cef2;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 8px;
        }

h1 {
text-align: center;
margin-bottom: 20px;
}

p {
font-size: 18px;
margin-bottom: 15px;
}

.object-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
align-items: center;
text-align: center;
}

.object-container img {
width: 100%;
max-width: 200px;
border-radius: 8px;
}

.properties,
.methods {
font-size: 18px;
text-align: left;
}

.methods ul,
.properties ul {
padding-left: 20px;
}

ul {
margin: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
.object-container {
  grid-template-columns: 1fr;
}

.object-container img {
  margin: 0 auto;
}
}