body 
{
     /* Set background image */
     background-image: url('images/paper.jpg'); /* Make sure to use the correct file extension */
     background-size: cover; /* Ensures the image covers the entire background */
     background-repeat: no-repeat; /* Prevents the image from repeating */
     background-attachment: fixed; /* Keeps the image fixed while scrolling */
     background-position: center; /* Centers the image */
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

footer .container, footer .container-fluid {
    padding-left: 0;
    padding-right: 0;
}